<img src="img/icons8_no_entry_96px.png" alt="no" id="no" class="button">
<div class="mini-card">
    <img src="img/<%=user.profilePic%>" alt="profile picture">
    <div class="side">
        <h1><%=user.name%></h1>
        <h5><%=user.desc%></h5>
        <h4>Skills:</h4>
        <h5><%=user.skills%></h5>
        <h4>Interests:</h4>
        <h5><%=user.interests%></h5>
    </div>
</div>
<img src="img/icons8_checkmark_96px_1.png" id="yes" alt="yes" class="button">
