<div class="profile">
    <div class="profile-container">
        <% if(user.profilePic){%>
            <img src="<%=user.profilePic%>" width="350px" height="350px">
        <%} else {%>
            <img src="img/default-pic.jpg" width="350px" height="350px">
        <%}%>
    <div class="about-user">
        <h1><%=user.name%></h1>
        <h3><%=user.desc%></h3>
    </div>
</div>
    
    <div class="Skills">
        <h1>Skills:</h1>
        <hr>
        
            <h5> <%=user.skills%> </h5>
        
    </div>

    <div class="Interests">
        <h1>Interests:</h1>
        <hr>
            <h5> <%=user.interests%> </h5>
        
    </div>
</div>
