<%-include('partials/header2');%>
<div class=full-screen>
    <div class="contacts" id="contacts">
        <div id="contact-header" >
            <h2>Contacts:</h2>
        </div>
        <b id="friend-refresh">
        <%- include('partials/contacts',{friends:friends}); %>
        </b>
    </div>
    <div class="tabs" id="tabs">
        <%- include('partials/tabs')%>
    </div>
    <div class="page" id="page">
        <%- include('partials/profile',{user:persona});%>
    </div>
    <div class="buttons" id="buttons">
        <%- include('partials/buttons');%>
    </div>
</div>
<script>
    const email="<%=persona.email%>";
</script>
<script src="js/sendbird.min.js"></script>
<script src="js/socket.io-client/dist/socket.io.js"></script>
<script src="js/ejs.js"></script>
<script src="js/ui.js" id="reload-me"></script>
<!-- <script src="js/messages.js"></script> -->
<%-include('partials/footer');%>
