<<<<<<< HEAD
<%-include('partials/header2');%>
<div class=full-screen>
    <div class="contacts">
        <div id="contact-header">
            <h2>Contacts:</h2>
        </div>
        
        <%- include('partials/contacts',{friends:friends,persona:persona}); %>
    </div>
    <div class="tabs">
    </div>
    <div class="page">
    </div>
</div>



<%-include('partials/footer');%>
=======
<%-include('partials/header2');-%>
<h1>yo</h1>
<%-include('partials/footer');-%>
>>>>>>> d3929054ff77658639d18c55bcdb3ea14603b75c
